.full-width{
  width: 100%;
  margin: 0;
}

.spacer{
  flex: 1 1 auto;
}

.visible-on-hover{
  visibility: hidden;
}
.visible-on-hover:hover{
  visibility: visible;
}

h1,h2,h3,h4,h5,h6,span,p, a, button{
  color: var(--mat-sys-on-surface);
}

h1{
  border-bottom: solid 2px var(--mat-sys-on-surface);
  padding: 1em;
}

span, a,p,button {
  font-size: large;
  font-weight: normal;
}

a{
  border-bottom: none;
  transform :scale(1);
  transition: transform 0.1s ease-in-out;
}

a[mat-button]:hover,
a[mat-button]:hover .mdc-button__label,
a[mat-button]:hover mat-icon{
  color: var(--mat-sys-primary);
}

a[mat-button]:hover{
  /*border-bottom: solid 2px var(--mat-sys-primary);*/
  transform :scale(1.2);
  transition: transform 0.1s ease-in-out;
}
a[mat-button] {
  --mat-text-button-hover-state-layer-opacity: 0;
  --mat-text-button-focus-state-layer-opacity: 0;
  --mat-text-button-pressed-state-layer-opacity: 0;
  border-radius: 0;
}

a[mat-button] .mat-mdc-button-persistent-ripple {
  display: none;
}
