<header>
<mat-toolbar>
  <a matButton routerLink="/">Léo Courtier</a>
  <span class="spacer"></span>
  <a matFab extended routerLink="/skills">
    <mat-icon>bolt</mat-icon>
    Mes compétences</a>
  <a matFab extended routerLink="/projects">
    <mat-icon>code</mat-icon>
    Mes projets
  </a>
  <a matFab extended routerLink="/experience">
    <mat-icon>work</mat-icon>
    Mon parcours
  </a>
  <a matFab extended routerLink="/contact">
    <mat-icon>mail</mat-icon>
    Contact
  </a>
</mat-toolbar>
</header>
